### 1

1. создать проект по ТЗ из README.md (Smart Motion Light System) (platformIO frimework - Arduino)
2. учесть использование библиотеки TKWifiManager (https://github.com/Jkl88/TKWifiManager.git)
3. создать отдельно таргеты для master и LED_controller как основные и esp32dev_master и esp32dev_LED_controller как конечные (возможны добоволения таргетов с другими контроллерами или дисплеями)
4. все пины прописывать в основных таргетах, а в конечных только те которые надо переопределить.
5. создать пре скрипт который соберет все дефайны и запишет их в файл config, для того чтоб не ругался линер и для полной совместимости с Arduino IDE
6. проект структурировать максимально понятно, к каждой функции анотацию на русском языке
7. проверить/отредактировать пост скрипт для упаковки всего что надо для прошивки post_build_package.py
8. проверить/отредактировать flash_auto.bat для прошивки
9. вести файл прогресса проекта, для понимания на какой стадии находится проект.
10. создать и выгрузить проект в github


